/* Body */
span {
    font-family: Ink Free;
    text-shadow: 1px 2px black;
    margin-right: -5px;
}

.container {
    display: grid;
    grid-template: 4 / 292px 1fr;
}

/* Splash Text */
.info-block {
    grid-column: 2;
    margin: auto 10% auto 2%;
}

p {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 50px;
}

/* Splash Image */
#home-img {
    height: 330px;
    width: max-content;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 25px;
}

label {
    grid-column: 0;
    text-align: center;
    width: 250px;
    margin: none 10px none 20px;
}
