* {
    font-family: Calibri;
}

body {
    background: linear-gradient(90deg,#FCE77D, #EEA47FFF 90%, #F96167 100%);
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    background: linear-gradient(45deg, blue 0%, pink 20%, orange 40%, yellow 60%, greenyellow 80%, green 100%);
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}

.navlink {
    font-family: MV Boli;
}

strong {
    font-family: MV Boli;
}

h1 {
    font-size: 38px;
    font-family: MV Boli;
    text-align: center;
}

h2 {
    font-family: MV Boli;
}

.regular-link {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
